# Where are the list-directories stored (contain log-files and GnuPG-keyrings).
lists_dir: /var/lib/schleuder/lists

# Where to write list-logs. The actual log-file will be <lists_logs_base_dir>/<hostname>/<listname>/list.log.
listlogs_dir: /var/lib/schleuder/lists

# Schleuder reads plugins also from this directory.
plugins_dir: /etc/schleuder/plugins

# How verbose should Schleuder log to syslog? (list-specific messages are written to the list's log-file).
log_level: warn

# Which keyserver to refresh keys from (used by `schleuder refresh_keys`, meant
# to be run from cron weekly).
# If you have gnupg 2.1, we strongly suggest to use a hkps-keyserver:
#keyserver: hkps://hkps.pool.sks-keyservers.net
# If you have gnupg 2.1 and TOR running locally, use a onion-keyserver:
#keyserver: hkp://jirk5u4osbsr34t5.onion
# If you have an OS-wide defined keyserver, specify a blank value to have that
# one used:
#keyserver: 
# The default works for all supported versions of gnupg:
#keyserver: pool.sks-keyservers.net
{% if schleuder_with_tor %}
keyserver: hkp://jirk5u4osbsr34t5.onion
{% else %}
keyserver: hkps://keys.mailvelope.com
{% endif %}

# Who is maintaining the overall schleuder installation and should be
# notified about severe problems with lists.
# This address should be a postmaster-like account, especially it should
# not be another schleuder list.
# Is also used as an envelope sender of admin notifications.
superadmin: {{ schleuder_superadmin_email }}

# For these options see documentation for ActionMailer::smtp_settings, e.g. <http://api.rubyonrails.org/classes/ActionMailer/Base.html>.
smtp_settings:
  address: localhost
  port: 587
  authentication: plain
  user_name: {{ schleuder_postfix_user_name }}
  password: {{ schleuder_postfix_password }}

# The database to use. Unless you want to run the tests you only need the `production`-section.
database:
  production:
    adapter:  'postgresql'
    database: '{{ schleuder_db_name }}'
    username: '{{ schleuder_db_user_name }}'
    password: '{{ postgresql_schleuder_user_password }}'
    timeout: 5000

api:
  host: localhost
  port: 4443
  tls_cert_file: /etc/schleuder/schleuder-certificate.pem
  tls_key_file: /etc/schleuder/schleuder-private-key.pem
  valid_api_keys:
{% for api_key in schleuder_valid_api_keys + [ schleuder_cli_api_key.stdout ] %}
    - {{ api_key }}
{% endfor %}
